*{
  margin: 0;
  padding: 0;
  background-color: #eff3ff;
  font-family: "Urbanist", sans-serif;
}

.pok_page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
h1{
  margin: 1.5rem;
}
.input input{
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}
.input input::placeholder{
  font-size: 0.7rem;
  color: black;
}
.pok_card{
  width: 15rem;
  height: 20rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.type{
  background-color: rgb(119, 240, 119);
  width: 6rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.pok_container{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.img img{
  width: 100%;
  background-color: #fff;
}
.info div p{
  background-color: #fff;
}
h3{
  background-color: #fff;
}